*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/nbproject/private/
.idea/workspace.xml
.idea/CrunchAPC.iml
.idea/vcs.xml
/vendor
composer.lock