.row {
    margin-top: 10px;
    text-align: center;
}


.motherboard {
	position: absolute;
    top: 270px;
    left: 40px;
}


.picture-box {

}

.cpu-img {
    position: absolute;
    left: 465px;
    top: 517px;
    border: 5px solid green;
}

.gpu-img {
	position: absolute;
    top: 864px;
    left: 169px;
    border: 5px solid green;
}

.cooler-img {
	position: absolute;
    left: 339px;
    top: 333px;
    border: 5px solid green;
}

.psu-img {
	position: absolute;
    top: 774px;
    left: 868px;
    border: 5px solid green;
}

.memory-img {
	position: absolute;
    top: 415px;
    left: 689px;
    border: 5px solid green;
}

.catalog-img {
    max-width: 300px;
    height: auto;
}
