.row {
    margin-top: 10px;
    text-align: center;
}


.motherboard {
	position: absolute;
    top: 170px;
    left: 40px;
}


.picture-box {

}

.cpu-img {
    position: absolute;
    left: 465px;
    top: 417px;
    border: 5px solid green;
}

.gpu-img {
	position: absolute;
    top: 764px;
    left: 169px;
    border: 5px solid green;
}

.cooler-img {
	position: absolute;
    left: 339px;
    top: 233px;
    border: 5px solid green;
}

.psu-img {
	position: absolute;
    top: 674px;
    left: 868px;
    border: 5px solid green;
}

.memory-img {
	position: absolute;
    top: 315px;
    left: 689px;
    border: 5px solid green;
}

.catalog-img {
    max-width: 300px;
    height: auto;
}
